body {
    padding: 0;
    margin: 0;
}
/* #timerbox {

    border: solid #a08db7;
    height: 300px;
    width: 400px;
    position: relative;
} */

iframe {
    position: absolute;
    /* resize: both;
    overflow: auto; */
}